/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jun 14, 2024, 10:08:46 PM
    Author     : aj
*/



/*-----------------------------------------Designs-------------------------------------------------*/
.Big-Rectangle, .Purple_Square, .Square{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
     
    
}



.Big-Rectangle{
    width: 200px;
    height: 200px;
    background-color: orange;
    border-radius: 20px;
    
}

.Square{
    width: 100px;
    height: 100px;
    background-color: lightskyblue;
    font-size: 15px;
}






/*      Diamond     */

.Diamond_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
    margin-top: 20px; 
}

.Diamond {
    position: relative;
    width: 200px; 
    height: 200px; 
    background-color: lightgreen;
    transform: rotate(45deg);
}

.Diamond_words1 {
    position: absolute;
    top: 43%;
    left: 5%;
    
    font-size: 18px; 
    
    text-align: center; 
    background-color: lightgreen;
}

.Diamond_words_2{
    position: absolute;
    top: 43%;
    left: 20%;
    
    font-size: 18px; 
    
    text-align: center; 
    background-color: lightgreen;
    
}
/*      --------------     */



.arrow-head {
    width: 0px;
    height: 0px;
        border-style: solid;
        border-width: 20px 0 20px 30px;
        border-color: transparent transparent transparent black;
   
    
}








.Purple_Square{
    width: 100px;
    height: 100px;
    background-color: #7e74d1;
    
}













/*--------------------------------------------DEFAULT-------------------------------------------------*/


h3{
    position:relative;
    left: 48%
}

#flowchart {
    position: relative;
        width: 1600px;
        height: 3000px;
        border: 20px solid black;
   margin-top: 20px;
    
  
}

#flowchart > * {
    position: absolute;
}



/*---------------------------------------------POSITIONING-------------------------------------------------*/

#step-start{
    top: 0%;
        margin-top: 20px;
    left: 40%;
}

#step-homepage{
    top: 10%;
    left: 43%;
    
}

#step-login{
    top: 18%;
    left: 43%;
}

#step-promotion{
    top: 18%;
    left: 80%;
}

#Direction1{    /*Might have to create a container for the words*/
    top: 28%;
    left: 40%;
    
}

#step-Signup{
    top: 30%;
    left:80%;
    
}

#step-Login{
    top: 40%;
    left: 43.2%;
    
}


#step-Credentials{
    top: 40%;
    left: 20%;
}

#step-dashboard{
    top: 48%;
    left: 20%;
    
}

#step-betting{
    top: 48%;
    left: 35%;
    
}

#step-browse{
    top: 48%;
    left: 50%;
    
}





#step-events{
    top: 48%;
    left: 70%;
    
}

#step-event1{
    top: 55%;
    left: 55%;
    
}

#step-event2{
    top: 55%;
    left: 65%;
    
}

#step-event3{
    top: 55%;
    left: 75%;
    
}

#step-event4{
    top: 55%;
    left: 85%;
    
}



#step-BetNOW{
    top: 62%;
    left: 70%;
    
}





#Direction2{
    top: 75%;
    left: 67%;
    
}


#step-Bet1{
    top: 69%;
    left: 50%;
}

#step-Bet2{
    top: 74%;
    left: 50%;
    
}

#step-Bet3{
    top: 79%;
    left: 50%;
    
}

#step-Bet4{
    top: 84%;
    left: 50%;
    
}





#step-place-bet{
    top: 76%;
    left: 34%;
    
}

#step-confirmation{
    top: 76%;
    left: 10%;
}



#step-end{
    top: 60%;
    left: 7%;
}





/*-------------------------------------------------------*/



/*--------------------------ARROW-----------------------------*/

/*Arrow 1       (Start - Homepage)*/
#Arrow1{          
    top: 8%; 
    left: 44%; 
    display: flex;
    align-items: center;
    transform: rotate(90deg);
}

.arrow-line {
    width: 50px;
    height: 5px;
    background-color: black;
}



/*Arrow 2 (Homepage - Login/Sign Up)*/
#Arrow2{        
    top: 15%; 
    left: 42.5%; 
    display: flex;
    align-items: center;
    transform: rotate(90deg);
}

.arrow-line2{
    width: 100px;
    height: 5px;
    background-color: black;
}


/*Arrow 3 (Login/Sign Up - Diamond1)*/
#Arrow3{        
    top: 24%; 
    left: 41.55%; 
    display: flex;
    align-items: center;
    transform: rotate(90deg);
}

.arrow-line3{
    width: 120px;
    height: 5px;
    background-color: black;
}

/*Arrow 4 (Promotion - Login/Sign up)*/
#Arrow4{        
    top: 19%; 
    left: 50%; 
    display: flex;
    align-items: center;
    transform: rotate(180deg);
}

.arrow-line4{
    width: 400px;
    height: 5px;
    background-color: black;
}

/*Arrow 5 (Homepage - Promotion Page)*/
.ConnectLine{
    width: 530px;
    height: 5px;
    
    top: 11.5%;
    left: 50%;
    
    background-color: black;
    
}

#Arrow5{        
    top: 14%; 
    left: 77.5%; 
    display: flex;
    align-items: center;
    transform: rotate(90deg);
}

.arrow-line5{
    width: 160px;
    height: 5px;
    background-color: black;
}

/*Arrow 6 (Diamond1 - Sign up)*/
#Arrow6{        
    top: 32%; 
    left: 57%; 
    display: flex;
    align-items: center;
    
}

.arrow-line6{
    width: 300px;
    height: 5px;
    background-color: black;
}

/*Arrow 7 (Sign up - Diamond1)*/
#Arrow7{        
    top: 30%; 
    left: 57%; 
    display: flex;
    align-items: center;
    transform: rotate(180deg);
}

.arrow-line7{
    width: 300px;
    height: 5px;
    background-color: black;
}


/*Arrow 8 (Diamond1 - Login)*/
#Arrow8{        
    top: 38%; 
    left: 43.8%; 
    display: flex;
    align-items: center;
    transform: rotate(90deg);
}

.arrow-line8{
    width: 48px;
    height: 5px;
    background-color: black;
}

/*Arrow 9 (Login - Validate Credentials)*/
#Arrow9{        
    top: 41%; 
    left: 28%; 
    display: flex;
    align-items: center;
    transform: rotate(180deg);
}

.arrow-line9{
    width: 170px;
    height: 5px;
    background-color: black;
}

/*Arrow 10 (Validate Credentials - Dashboard)*/
#Arrow10{        
    top: 45%; 
    left: 20.5%; 
    display: flex;
    align-items: center;
    transform: rotate(90deg);
}

.arrow-line10{
    width: 53px;
    height: 5px;
    background-color: black;
}

/*Arrow 11 (Dashboard - Betting Page)*/
#Arrow11{        
    top: 49%; 
    left: 28%; 
    display: flex;
    align-items: center;
    
}

.arrow-line11{
    width: 70px;
    height: 5px;
    background-color: black;
}

/*Arrow 12 (Betting page - BS&SE)*/
#Arrow12{        
    top: 49%; 
    left: 42%; 
    display: flex;
    align-items: center;
    
}

.arrow-line12{
    width: 70px;
    height: 5px;
    background-color: black;
}

/*Arrow 13 (BS&SE - VLOE)*/
#Arrow13{        
    top: 49%; 
    left: 57%; 
    display: flex;
    align-items: center;
    
}

.arrow-line13{
    width: 150px;
    height: 5px;
    background-color: black;
}










/* Purple arrows (INSERT)*/
#Arrow14{        
    top: 52%; 
    left: 60%; 
    display: flex;
    align-items: center;
    transform: rotate(140deg);
    
}

.arrow-line14{
    width: 130px;
    height: 5px;
    background-color: black;
    
}


#Arrow15{        
    top: 52.5%; 
    left: 68%; 
    display: flex;
    align-items: center;
    transform: rotate(110deg);
    
}

.arrow-line15{
    width: 55px;
    height: 5px;
    background-color: black;
    
}



#Arrow16{        
    top: 52.5%; 
    left: 73%; 
    display: flex;
    align-items: center;
    transform: rotate(70deg);
    
}

.arrow-line16{
    width: 55px;
    height: 5px;
    background-color: black;
    
}


#Arrow17{        
    top: 52%; 
    left: 77%; 
    display: flex;
    align-items: center;
    transform: rotate(45deg);
    
}

.arrow-line17{
    width: 130px;
    height: 5px;
    background-color: black;
    
}






/* Purple arrows (AFTER)*/
#Arrow18{        
    top: 60%; 
    left: 60%; 
    display: flex;
    align-items: center;
    transform: rotate(45deg);
    
}

.arrow-line18{
    width: 130px;
    height: 5px;
    background-color: black;
    
}


#Arrow19{        
    top: 59.5%; 
    left: 68%; 
    display: flex;
    align-items: center;
    transform: rotate(70deg);
    
}

.arrow-line19{
    width: 55px;
    height: 5px;
    background-color: black;
    
}

#Arrow20{        
    top: 59.5%; 
    left: 73%; 
    display: flex;
    align-items: center;
    transform: rotate(110deg);
    
}

.arrow-line20{
    width: 55px;
    height: 5px;
    background-color: black;
    
}

#Arrow21{        
    top: 60%; 
    left: 77%; 
    display: flex;
    align-items: center;
    transform: rotate(140deg);
    
}

.arrow-line21{
    width: 130px;
    height: 5px;
    background-color: black;
    
}




/*Arrow 22 (Bet now - Decision2)*/
#Arrow22{        
    top: 69%; 
    left: 67.3%; 
    display: flex;
    align-items: center;
    transform: rotate(90deg);
    
}

.arrow-line22{
    width: 160px;
    height: 5px;
    background-color: black;
    
}






/*Purple arrow #2*/
#Arrow23{        
    top: 73%; 
    left: 57%; 
    display: flex;
    align-items: center;
    transform: rotate(225deg);
    
}

.arrow-line23{
    width: 160px;
    height: 5px;
    background-color: black;
    
}


#Arrow24{        
    top: 76.5%; 
    left: 58%; 
    display: flex;
    align-items: center;
    transform: rotate(220deg);
    
}

.arrow-line24{
    width: 55px;
    height: 5px;
    background-color: black;
    
}

#Arrow25{        
    top: 80%; 
    left: 58%; 
    display: flex;
    align-items: center;
    transform: rotate(160deg);
    
}

.arrow-line25{
    width: 55px;
    height: 5px;
    background-color: black;
    
}

#Arrow26{        
    top: 83%; 
    left: 57%; 
    display: flex;
    align-items: center;
    transform: rotate(135deg);
    
}

.arrow-line26{
    width: 160px;
    height: 5px;
    background-color: black;
    
}