/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jun 9, 2024, 1:05:39 AM
    Author     : aj
*/


h3{
    position: absolute;
    left: 48%;
    text-decoration: underline;
    font-size: 30px;
}

