/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jun 8, 2024, 11:26:55 PM
    Author     : aj
*/

/*asdasdadas*/
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jun 8, 2024, 11:26:55 PM
    Author     : aj
*/

/*asdasdadas*/
* {
    background: lightgrey;
}

body {
    min-height: 150vh;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: auto;   /* Allow vertical scrolling */
}

.container {
    position: relative; 
    width: 600px; 
    height: 400px; 
}

.centered-image {
    position: absolute;
    left: 100%;
    
    transform: translate(0%, 0%);
}

/*------------------------------------------------------------------------ICON BUTTON ON THE TOP------------------------------------------------------------------------*/


body, ul {
    margin: 0;
    padding: 0;
}


.nav ul {
    display: flex; 
    list-style: none; 
    justify-content: space-around; 
}

.main-nav {
    text-align: center;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    font-size: 20px;
    background-color: lightgrey; 
}

.main-nav li {
    padding: 0 1em; 
}

.nav li {
    display: inline; 
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: black;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Testing*/
